* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--font-1);
}

#root {
  height: 100%;
  width: 100%;
}

body {
  min-width: 375px;
}

.App {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 64px;
  color: var(--font-4);
  text-align: center;
}

h2 {
  font-size: 32px;
  color: var(--font-4);
}

h3 {
  font-size: 20px;
}

.inputErrorBorder {
  border: var(--input-error-border);
}

.loginButton {
  height: 48px;
  padding: 8px 12px;
  border-radius: 8px;
  background: var(--header);
  color: var(--font-3);
}

.icon {
  position: absolute;
  left: -32px;
  top: 0;
}

@media screen and (width <= 768px) {
  .generalHeader {
    padding: 16px 16px 64px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }
}
