.goBackButton {
  height: fit-content;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--font-3);
  background-color: transparent;
  color: var(--font-3);
}

@media screen and (width <= 768px) {
  .goBackButton {
    min-width: 40px;
    min-height: 40px;
    font-size: 0;
    padding: 0;
    border: none;
    background-image: url('/arrowLeft.svg');
    background-repeat: no-repeat;
  }
}
